


  <div class="row">
    <% @users.reverse_each do |user| %>
      <div class="per-user">
        <div class="avatar" style="background-image: url('<%= user.gravatar_url %>')">
          <!-- <%= image_tag user.gravatar_url %> -->
        </div>
        <div class="user-full-name">
          <%= link_to user.full_name, user_path(user) %><br>
          <span><%= user.email %></span>
        </div>
      </div>
    <% end %>
  </div>
