<div class="page-header">
  <h2>Rants Index</h2>
</div>


  <% @rants.each do |rant| %>
    Rant Title: <%= rant.title %><br>
    Rant Body: <%= rant.body %><br>
    <%= link_to "Edit", edit_rant_path(rant) %>
  <% end %>
