@import "bootstrap-sprockets";
@import "bootstrap";

// Global

html {
   font-family: 'Laila', serif;
   font-family: 'Hind', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
   color: #34495E;
   margin: 0;
   height: 85%;
   width: 100%;
}

body {
   height: 100%;
   margin: 0;
}

.container{
   padding: 0 0 0 15px;
   width: 100%;
   height: 100%;
}

.sub-container{
   margin-left: -15px;
   padding: 15px;
   width: 73.4%;
   min-width: 100px;
   float: left;
   height: 100%;
}

 // Sign Up

.signup {
   margin-right: 22px;
}

 // Navbar

.navbar, .search-header{
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 900;
   color: white;
   padding: 7px 15px 3px 10px;
   border-radius: 0;
   margin: 0;
}

.navbar{
   font-size: 31px;
   background: #34495E;
}

.navbar a {
   color: white;
   font-size: 31px;
   background: #34495E;
   text-decoration: none;
}

.navbar span a {
   font-size: 16px;
   padding-left: 22px;
   vertical-align: 25%;
   color: white;
   text-decoration: none;
}

.user-full-name {
   a {
     color: black;
     text-decoration: none;
   }
}

 // Search Header

.search-header {
   font-size: 24px;
   background: #3498DB;
   margin-left: 15px;
}

 // Avatar / Pic

.picture, .avatar {
   height: 100px;
   background: url("http://www.gravatar.com/avatar/undefined?s=450") center/cover no-repeat;
   border-radius: 20px;
   border-bottom-right-radius: 0;
   border: 5px dashed #34495E;
   display: block;
   width: 100%;
   margin-bottom: 15px;
}

.avatar {
   clear: both;
   float: left;
   display: inline;
   width: 20%;
   margin-right: 20px;
}

 // Rant Title

.rant-header {
   float: left;
   width: 100%;
   padding-bottom: 20px;
   a {
     text-decoration: none;
   }
}

.rant-header h2 {
   a {
     color:#34495E;
   }
}

 // Rant Text

.rant-content {
   width: 100%;
   clear: both;
   display: inline;

}

.text-area {
   float: right;
   width: 77%;
   height: 400px;
   outline: none;
   resize: none;
   border-radius: 3px;
   border: 3px solid #E7ECEE;
}

.text-area:focus, .user-form:focus {
   transition: 0.4s;
   border: 2px solid #1ABC9C;
}

.user-form {
   width: 100%;
   padding:10px;
   font-size: 16pt;
   margin-bottom: 15px;
}

 // Rant Format

.login-frame {
   float: left;
   width: 25%;
   border-right: 1px solid #EFEFEF;
   box-shadow: -1px 2px 1px 1px rgba(225,225,225,0.6);
   margin-right: 20px;
}

.rant-frame {
   border-radius: 4px;
   box-shadow: -1px 1px 1px 1px rgba(225,225,225,0.6);
   overflow: hidden;
   font-family: 'Hind', sans-serif;
   font-weight: 200;
   display: inline;
   float: left;
   width: 99.9%;
   padding: 15px;
   border: 1px solid #EFEFEF;
   margin: 0 0 15px 0;
}

.rant-frame h2, .empty-result h2 {
   font-family: 'Laila', sans-serif;
   font-weight: 700;
   font-size: 30px;
   display: inline;
}

.wide {
   float: left;
   width: 70%;
   display: inline;
   outline: none;
   border: none;
   border-bottom: 2px solid #EFEFEF;
   margin-bottom: 20px;
}

.wide:focus {
   transition: 0.25s;
   border-bottom: 2px solid #1ABC9C;
}

 // Scroll

.scroll {
   width: 100%;
   height: 100%;
   overflow: scroll;
}

 // Search

.search {
   font-family: 'Arial', sans-serif;
   border: none;
   outline: none;
   background: #3498DB;
   color: #34495E;
   width: 300px;
   display: inline;
}

.search::-webkit-input-placeholder {
    color: white;
}

.inline {
   display: inline;
}

.clear {
   opacity: 0;
   border: 0px solid white;
}

.clear:hover {
   background: white;
   border: 0px solid white;
   transition: 0.25s;
}

.count {
   float: left;
   display: block;
}


 // User Form / Login

.user-form {
   width: 100%;
   padding:10px;
   font-size: 14pt;
   border-radius: 3px;
   border: 2px solid #E7ECEE;
   outline: none;
   margin-bottom: 15px;
}

.login-frame .user-form {
   width: 94%;
   padding: 5px;
   margin-left: 3%;
   margin-right: 3%;
}

.side-notice {
  margin-top: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/// HERE FOR GREEN

.has-feedback .form-control-feedback {
   margin: 10px 10px 0 0;

}

.has-feedback .fa-user, .has-feedback .fa-lock {
   color: #E7ECEE; // grey
   font-size: 16pt;
}

.user-form:focus + .fa-user, .user-form:focus + .fa-lock {
   color: #1ABC9C; // grey
   font-size: 16pt;
}



 // User Index

.per-user {
   font-size: 12pt;
   font-family: 'Laila', sans-serif;
   float: left;
   padding: 15px 15px;
   margin-left: 15px;
   width: 23.4%;
   box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
   min-height: 190px;
   margin-bottom: 15px;
}

.per-user .avatar {
   display: block;
   width: 100%;
   margin-bottom: 15px;
}

.avatar img {
   height: 100px;
}

.per-user span {
   font-size: 8pt;
}

.row {
   margin: 0 -15px;
}

 // Buttons

.new-button {
   background: white;
   color: #1ABC9C;
   padding: 6px 13px;
   margin-right: 15px;
   display: inline;
   float: right;
   font-size: 16px;
   font-weight: 400;
   border-radius: 4px;
   transition-duration: .25s;
}

.new-button:hover {
   background: #1ABC9C;
   color: white;
   text-decoration: none;
}

.profile-button {
   background: #1ABC9C;
   color: white;
   display: block;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   border-radius: 3px;
   width: 99%;
   transition-duration: .25s;
   margin: 1px;
   border: 1px solid white;
   height: 30px;
}

.form .profile-button {
   width: 100%;
}

.drop {
   line-height: 1.8;
}

.profile-button:hover {
   border: 1px solid #1ABC9C;
   background: white;
   color: #1ABC9C;
}

.body-button, .cancel-button, .delete-button {
   color: white;
   display: inline;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   border-radius: 3px;
   transition-duration: .25s;
   line-height: 2.1;
   margin: 1px;
   border: 1px solid white;
   height: 30px;
   padding: 8px 10px 0 10px;
   float: right;
   a {
     color: white;
   }
}

.lift {
   padding-top: 2px;
}

.body-button {
   background: #1ABC9C;
   a {
     color: white;
   }
}

.cancel-button {
   background: #B3B3B3;
}

.delete-button {
   background: #EEBB00;
}

.body-button:hover {
   border: 1px solid #1ABC9C;
   background: white;
   color: #1ABC9C;
   a {
     color: #1ABC9C;
   }
}

.cancel-button:hover {
   border: 1px solid #B3B3B3;
   background: white;
   color: #B3B3B3;
   a {
     color: #B3B3B3;
   }
}

.delete-button:hover {
   border: 1px solid #EEBB00;
   background: white;
   color: #EEBB00;
   a {
     color: #EEBB00;
   }
}

// Count

.count-chocula {
  margin-top: 110px;
  font-family: 'Hind', sans-serif;
}
